<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fit india hit india</title>
</head>
<body BGCOLOR="SKY BLUE">
<p align="center"> Before using this application i would recomend you to ask Ashish kumar Dhiman for user name and password </p>

<form align="center" action="/form_login" method="post">
    <img align="center" src="IMG_0501.JPG" width="375" height="250"><BR>
    Username:<br>
    <input type="text" name='username' placeholder="your id"><br><br>
    Password:<br>
    <input type="text" name='password' placeholder="enter your password"><br><br>
<!--    <input type="submit" value="Login">-->
    Enter your height in cm:<br>
    <input type="text" name="height" placeholder="height in cm"><br><br>
    Enter your weight in kg:<br>
    <input type="text" name="weight" placeholder="weight in kg "><br><br>
    <br>
    <input type="submit" name="calculate">
    {{bmi}}
</form>
<h1>{{info}}</h1>
</body>
</html>